{
	"printWidth": 140,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"fluid": false,
	"sortingMethod": "lineLength",
	"stripNewlines": true,
	"plugins": ["prettier-plugin-classify-imports"],
	"importOrder": ["^[./]|(~/)|(@/)"]
}
