@mixin iconButton {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 24px;
	cursor: pointer;
}

.container {
	z-index: 100;
	display: flex;
	background-color: #323232;

	.btn {
		background-color: #323232;
		width: 100%;
		height: 100%;
		color: #d2d2d2;
		font-size: 12px;
		letter-spacing: -0.2px;
		cursor: pointer;
		border: none;

		&:hover {
			background-color: #505050;
		}

		&:active {
			background-color: #898989;
		}
	}

	.options {
		width: 85px;
		height: 24px;
		font-size: 13px;
		padding-left: 9px;

		&:hover {
			background-color: #292929;
		}
	}

	.titleBar {
		width: 100%;
		height: 24px;
		display: flex;
		user-select: none;
		position: relative;
		justify-content: flex-end;
	}

	.closeButton {
		@include iconButton;
		padding-right: 9px;
	}

	.settingsButton {
		@include iconButton;
	}

	.backButton {
		@include iconButton;
		padding-left: 9px;
	}
}
