@import '../../styles/global.scss';

.container {
	padding: 10px;

	.statusText {
		height: 18px;
		display: flex;
		justify-content: space-between;

		div:first-child {
			color: #d2d2d2;
			font-size: 12px;
			letter-spacing: -0.2px;
		}

		.updateButton {
			color: #646464;
			font-size: 12px;
			letter-spacing: -0.2px;

			.link {
				color: #0078d4;
				cursor: pointer;
			}
		}
	}

	.playButton {
		@include actionButton;
		height: 30px;
	}

	.notification {
		position: fixed;
		bottom: 20px;
		left: 20px;
		width: 200px;
		padding: 20px;
		border-radius: 5px;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	.hidden {
		display: none;
	}
}
