@import '../../styles/global.scss';

.container {
	padding: 10px;
	height: calc(100vh - 24px);

	.header {
		.title {
			color: #d2d2d2;
			font-size: 18px;
			font-weight: normal;
			margin-bottom: 4px;
		}

		div[class*="MuiPaper-root"][role="alert"] {
			padding: 0;
			background-color: transparent;

			> div {
				padding: 0;

				svg {
					font-size: 18px;
				}
			}
		}
	}

	input {
		font-size: 14px;
	}

	label {
		font-size: 14px;
	}

	.saveButton {
		@include actionButton;
		width: 113.83px;
		height: 30px;
	}
}
